*{
    margin: 0;
    padding: 0;
}
:root{
    --headings: 'Noto Serif', serif;
    --paragraph: 'Instrument Serif', serif;
    --primary-color: #30A3B0;
    --secondary-color: #3B767D;
    --lighter-color: #10CEE3;
    --writings-color: #32484A;
    --darker-color: #2C3233;
    --nav-color:#fff;
}
body{
    margin:  0 auto;
    font-family: var(--paragraph);
    color: var(--writings-color);
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: var(--headings);
    margin: 0 0 10px 0;
}
header img{
    display: none;
}
nav, footer{
    background-color:var(--writings-color);
    justify-content: space-around;
    text-align: center;
}
nav ul{
    list-style-type: none;
}
nav a{
    display: block;
    text-decoration: none;
    text-decoration: none;
    color: var(--nav-color);
    padding: 20px;
}
nav li{
    display: none;
}
a:hover{
    background-color: var(--primary-color);
}

/* ---------- Menu ------------ */
#menu::before{
    content: "\2630";
    font-size: 44px;
}
#menu.open::before{
    content: 'X';
}
.open li{
    display: block;
} 
#menu{
    display: block;
    color: var(--nav-color);
}

/* ----------- main ------------- */
h1{
    text-align: center;
}
#action{
    position: absolute;
    top:5px;
    right:10px;    
}
#action button{
    background-color: var(--nav-color);
    color: var(--writings-color);
}
#discover h1{
    grid-column: 1/2;
    text-align: left;
}
#join{
    padding: 20px;
    text-align: center;
    color: var(--nav-color);
    background-color: var(--writings-color);
}
div figure img{
    width: 100%;
    animation: fade 5s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
div figure img:hover{
    box-shadow: 5px 5px 5px 5px gray;
}

/* --------- event Home ------------- */
.event{
    overflow: hidden;
}
.event img{
    width: 200px;
}
.event #subscribe{
    margin: 0 auto;
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    color: var(--nav-color);
    background-color: var(--writings-color);
}
.event #subscribe img{
    display: none;
}
.event p:not(#subscribe p){
    text-align: center;
    border: 5px double var(--writings-color);
    align-self: center;
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 5px ;
    justify-self: center;
}
.event img:not(#subscribe img){
    border: 5px double var(--writings-color);
    width: 200px;
    margin: 0 25%;
}
.event #subscribe form{
    display: flex;
    gap: 2px;
    margin: 0 auto;
    margin-top: 10px;
    width: fit-content;
}
.event #subscribe button{
    background-color: white;
    border: 5px solid gray;
    padding: 5px;
}

/* -------- weather and forecast-------- */
.weather{
    display: flex;
    flex-direction: column;
}
.weather iframe{
    width: 100%;
}
.weather .figure{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 10px double var(--writings-color);
    margin: 10px 5px;
    padding: 10px;
}
.weather h3, .weather h2{
    justify-self: center;
    align-self: center ;
}
.figure figure{
    display: flex;
    width: fit-content;
}
.forecast{
    margin-top: 1rem;
    text-align: center;
    background-color: var(--writings-color);
    color: var(--nav-color);
    padding: 20px 0px 50px 0px ;
    display: flex;
    flex-direction: column;
}
.forecast h2{
    padding-bottom: 20px;
}
.forecast .temps{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    text-align: center;
}
.forecast figure{
    display: flex;
    align-items: center;
}
.forecast .temps li{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

/* ------ spotlights Home --------- */
#spotlights{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    gap: 20px;
    padding: 20px;
}
#spotlights img{
    width: 100%;
    max-width: 150px;
    height: 100px;
    margin: 0 auto;
}
#container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    padding: 20px;
}
figcaption{
    padding: 10px;
}
  /* ------- banner Home--------- */
#banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    color: var(--nav-color);
    background-color: var(--writings-color);
    position: relative;
    margin-bottom: 20px;
}
#banner img{
    display: none;
    width: 300px;
}
#banner p{
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}
#banner button {
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    background-color: var(--nav-color);
    font-weight: bolder;
}
#banner a {
    position: absolute;
    top:0;
    right: 0;
    border: 1px solid var(--nav-color);
    color: var(--nav-color);
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
}

/* ------ directory ----- */
.view{
    text-align: center;
    margin-bottom: 40px;
}

#directory #grid::before{
    content: "\2637";
    font-size: 44px;
    color: var(--nav-color);
    background-color: var(--writings-color);
    padding: 5px;
}
#directory #list::before{
    content: "\2630";
    font-size: 44px;
    color: var(--nav-color);
    background-color: var(--writings-color);
    padding: 5px;
}
#directory .grid div, #directory .list div{
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid white;
    box-shadow: 0 3px 3px 3px;
    border-radius: 4px;
    margin-bottom: 10px;
}
#directory div img{
    width: 100%;
    height: 200px;
}
.list div img{
    display: none;
} 

/* -------- footer ------- */
footer{
    color: var(--nav-color);
    padding: 20px;
}

/* --------- Join ------- */
fieldset{
    margin: 0 2% 2% 3%;
    padding: 0 1rem 2.5rem 1rem;
    border-radius: 5px;
    border: 10px solid #9E9E9E;
}
input, textarea, select{
    display: block;
    border: 5px solid #9E9E9E;
}
input{
    padding: .5rem;
    border-radius: 4px;
}
.personal{
    display: block;
    margin-top: 12px;
}
.signBtn{
    max-width: 20rem;
    width:96%;
    margin: 0 0 1rem 1rem;
    padding: 0.5rem 1.5rem;
}
#benefits table{
    text-align: center;
    border: none;
    border-collapse: collapse;
    max-width: 380px;
    width: 100%;
    margin: 0 4%;
}
#benefits thead{
    background-color: #000000;
    color: #fff;
    border-right: 1px solid black;
}
#benefits th{
    font-family: var(--headings);
    padding: 10px;
}
#benefits caption{
    border-radius: 10px 10px 0 0;
    font-family: var(--headings);
    font-size: x-large;
    background-color: var(--writings-color);
    color: white;
    padding: 5px;
}
#benefits tbody tr{
    border-bottom: 1px solid black;
}
#benefits tbody tr td{
    border-left: 1px solid black;
    padding: 4px;
}
#benefits tbody tr td:last-child{
    border-right: 1px solid black;
}
#benefits tbody tr:nth-child(even){
    background-color: #9E9E9E;
    color: black;
}
#join-page{
    width: 90%;
    margin: 0 auto;
}

/* --------- Thank you page -------- */
#thankYou {
    border: 5px solid var(--writings-color);
    text-align: center;
    padding: 0 0 20px 0 ;
}
#thankYou h{
    margin-top: 1rem;
}
#thankYou p{
    margin: 1rem 0;
}