@media screen and (min-width: 650px){
    body{
        width: 1024px;
    }
    header{
        background-repeat: no-repeat;
    }
    header img{
        display: block;
    }
    nav li{
        display: block;
    }
    nav ul , footer{
        display: flex;
        
    }
    nav ul li{
        flex:1 1 100%;
    }
    #menu{
        display: none;
    }
    main{
        position: relative;
        overflow: hidden;
    }
    #action{
        position: absolute;
        top:5px;
        right:10px;
        
    }
    #action button{
        background-color: var(--writings-color);
        color: var(--nav-color);
    }
    .event{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }
    section h2{
        grid-column: 1/4;
    }
    .event #subscribe{
        grid-column: 1/4;
        display: flex;
        width: 100%;
        margin: 0 0 0 51%;
        margin-top: 50px;
        padding: 20px;
        border: 1px solid black;
        color: var(--nav-color);
        background-color: var(--writings-color);
        gap: 10px;
    }
    .event #subscribe img{
        display:block;
    }
    .event p:not(#subscribe p){
        text-align: center;
        border: 10px double var(--writings-color);
        align-self: center;
        width: 200px;
        justify-self: center;
    }
    .event img:not(#subscribe img){
        border: 10px double var(--writings-color);
        justify-self: center;
    }
    .event #subscribe form{
        display: flex;
        margin-top: 20px;
        gap: 2px;
    }
    .event #subscribe input{
        width: 56%;
    }

    #discover{
        display: grid;
        grid-template-columns: 30% 1fr;
        padding: 15px;
    }
    aside{
        grid-column: 1/2;
        text-align: left;
        display: flex;
        flex-direction: column;
        grid-template-columns: auto;
        gap: 1rem;
    }
    aside table{
        margin: 0 0 1rem 0;
    }
    table{
        border-spacing: 0 15px;
    }
    #discover div{
        grid-column: 2/3;
        justify-self: center;
        text-align: center;
    }
    div img{
        display: block; 
    }
    #logo{
        display: flex;
        justify-content: space-between;
    }

    /* -------- forecast and weather ------- */
    .weather{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .weather iframe{
        align-self: center;
        width: 100%;
    }
    
    .weather .figure{
        display: block;
        justify-self: center;
        align-self: center ;
        border: none;
    }
    .figure figure{
        display: flex;
        width: fit-content;
    }
    .forecast{
        grid-column: 1/3;
    }
    .forecast .temps{
        display: flex;
        flex-direction:row;
    }
    .forecast .temps li{
        display: flex;
        flex-direction: column;
    }

    /* ---------- Spotlights ------------- */
    #spotlights{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        gap: 20px;
        padding: 20px;
    }
    #spotlights .memb{
        display: flex;
        flex-direction: column;
    
    }
    #spotlights h2{
        grid-column: 1/4;
        text-align: start;
    }
    #spotlights img{
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    /* ------- banner --------- */

    #banner img{
        display: block;
        width: 300px;
    }

    /* ----- Join Page ------ */
    #join-page{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: 0 auto;
    }
    #join-page h1, #join-page #message{
        grid-column: 1/3;
    }
    #join-form{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #benefits{
        grid-column: 2/3;
        grid-row: 3/4;
        display: flex;
        align-self: flex-start;
        margin-bottom: 8%;
        flex-wrap: wrap;
        width: 100%;
    }
    /* ---------- directory --------- */
    
    #directory h1{
        grid-column: 1/4;
    }
    .list{
        display: flex;
        flex-direction: column;
    }
    .list div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .list div img{
        display: none;
    } 
    .grid{
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid div{
        display: flex;
        flex-direction: column;
    }
}