@media screen and (min-width: 650px){
    body{
        width: 1024px;
    }
    header{
        background-repeat: no-repeat;
    }
    header img{
        display: block;
    }
    nav li{
        display: block;
    }
    nav ul , footer{
        display: flex;
        
    }
    nav ul li{
        flex:1 1 100%;
    }
    #menu{
        display: none;
    }
    #discover{
        display: grid;
        grid-template-columns: 30% 1fr;
        padding: 15px;
    }
    aside{
        grid-column: 1/2;
        text-align: left;
        display: flex;
        flex-direction: column;
        grid-template-columns: auto;
        gap: 1rem;
    }
    aside table{
        margin: 0 0 1rem 0;
    }
    table{
        /* border: 1px solid red; */
        border-spacing: 0 15px;
    }
    #discover div{
        grid-column: 2/3;
        justify-self: center;
        text-align: center;
    }
    div img{
        display: block; 
    }
    #logo{
        display: flex;
        justify-content: space-between;
    }
}